,arg,value
0,bank0,precharged
1,bank1,precharged
2,bank2,precharged
3,bank3,precharged
4,bank4,precharged
5,bank5,precharged
6,bank6,precharged
7,bank7,precharged
8,dimm,hynixp80
9,name,jerboa
10,temp,20
11,twitter.access.key,835608707698413573-38Gl8q6gTPGa0djtbuCHLE9HMdouiN6
12,twitter.access.secret,Vombb2Ls6cv1tkR3MEpeTvSAZTDVUbzivEcyr9rKE7XK8
13,twitter.consumer.key,RmOpgbmyN4XprksbIlD1xVlOv
14,twitter.consumer.secret,Twkgk0RwSCiFX9TdLM9JoOgLwKQDTcol86RwTJGC8uO16PNp3F
15,verilog,v2l
